// screen sizes for media queries
$mobile: "(min-width: 360px) and (max-width: 599px)";
$tablet: "(min-width: 600px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1279px)";
$desktop: "(min-width: 1280px)";

#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: black;
    z-index: 200;}
    
    .contpre {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 34%;
    top: 48%;
    /* margin-left: -125px; */
    /* margin-top: -75px; */
    color: #fff;
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    line-height: 35px;

    @media #{$tablet}{
      width: 200px;
      height: 200px;
      left: 26.2%;

    }
    @media #{$mobile}{
      width: 200px;
      height: 200px;
      left: 4.4%;

    }
}
    
    #p_prldr .svg_anm {
        position: absolute;
        width: 200px;
        height: 200px;
        background-size: 200px;
        margin: -16px 0 0 -16px;

        @media #{$mobile}{
          width: 200px;
          height: 200px;
          
        }
    }

div {
// color: #fff;
// margin: 5px 0;
text-transform: uppercase;
// text-align: center;
// font-family: 'Arial', sans-serif;
// font-size: 10px;
letter-spacing: 2px;
}

.preloader-2 .line {
width: 1px;
height: 12px;
background: #fff;
margin: 0 1px;
display: inline-block;
animation: opacity-2 1000ms infinite ease-in-out;
}

.header_social{
  list-style: none;
  margin: 0;
  padding: 0;
}

.sm-txt{
  position: relative;
  display: block;
  cursor: pointer;
}

.sm-txt:before, .sm-txt:after{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
}

.sm-txt:before{
    left: -2.5px;
}

.sm-txt:after{
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.sm-txt:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  .sm-txt:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

.preloader-1 .line-1, .preloader-2 .line-1 { animation-delay: 800ms; }
.preloader-1 .line-2, .preloader-2 .line-2 { animation-delay: 600ms; }
.preloader-1 .line-3, .preloader-2 .line-3 { animation-delay: 400ms; }
.preloader-1 .line-4, .preloader-2 .line-4 { animation-delay: 200ms; }
.preloader-1 .line-6, .preloader-2 .line-6 { animation-delay: 200ms; }
.preloader-1 .line-7, .preloader-2 .line-7 { animation-delay: 400ms; }
.preloader-1 .line-8, .preloader-2 .line-8 { animation-delay: 600ms; }
.preloader-1 .line-9, .preloader-2 .line-9 { animation-delay: 800ms; }

@keyframes opacity-1 { 
0% { 
opacity: 1;
}
50% { 
opacity: 0;
}
100% { 
opacity: 1;
}  
}

@keyframes opacity-2 { 
0% { 
opacity: 1;
height: 15px;
}
50% { 
opacity: 0;
height: 12px;
}
100% { 
opacity: 1;
height: 15px;
}  
}

// 
#lottie{
  
  width:100%;
  height:100%;
  display:block;
  overflow: hidden;
  transform: translate3d(0,0,0);
  text-align: center;
  opacity: 1;
}

.menu-ul{
  padding-inline-start: 0px;
}