 * {
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;

     .container-fluid {
         margin-right: 0px;
         margin-left: 0px;
         padding-right: 0px;
         padding-left: 0px;
     }

     .row {
         margin-right: 0px;
         margin-left: 0px;
         padding-left: 0px;
         padding-right: 0px;
     }

     ::selection{
         background: #ff9d00;
     }
 }

 // Root Colors for website //
 :root {
     --main-font: Fredoka One;
     --text-font: Poppins;
     --text-font2: Montserrat;
     --text-font3: Philosopher;
     --text-font4: Bowlby One SC;
 }

 // Google Fonts in the below //

 @import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
