// black 1B1B1B
// orange FF7A01>>FF6400
// yellow FF9D00

$red:  #FF7A01;
$white: #fff0d9;
$black: #1B1B1B;
$darkblack: #000000;
$myred: #f41200;
$orange: #ff6400;
$yellow: #ff9d00;
// screen sizes for media queries
$mobile: "(min-width: 360px) and (max-width: 599px)";
$tablet: "(min-width: 600px) and (max-width: 1023px)";
$laptop: "(min-width: 1024px) and (max-width: 1279px)";
$desktop: "(min-width: 1280px)";

:root {
  --scrollbar-size: 0px;
}

*, :after, :before {
  box-sizing: border-box;
}


.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  *:not(.change_color_page) {
    color: $white;
    transition: color 0.5s ease-in-out, border-color 0.5s ease;
    // border-color:$red;
  }
  &.white {
    *:not(.change_color_page) {
      color: $black;
      transition: color 0.5s ease-in-out, border-color 0.5s ease;
      // border-color: $black;
    }
  }
}

.change_color_page {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  transition: background-color 0.5s ease;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  &.white {
    background-color: $yellow;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  background-color: $yellow;
  &.white {
    background-color: $black;
  }
}

.scrollbar-test {
  position: absolute;
  visibility: hidden;
  overflow: scroll;
  width: 100px;
  height: 100px;
  top: -99999px;
  left: -99999px;
  pointer-events: none;
  user-select: none;
}

.fixed-content {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: var(--scrollbar-size, 0px);
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}

.scroll-container {  
  position: absolute;  
  overflow: hidden;
  z-index: 10;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 100%;
}

.content {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.spacer {
  background: transparent;
}

.relative{
  position: relative;
}

.container-title{
  font-size: 10em;
  -webkit-text-stroke: 1.5px white;
  -webkit-text-fill-color: transparent;
  
  @media #{$mobile}{
    font-size: 6em;
  }
  @media #{$tablet}{
    font-size: 6em;
    text-align: center;
  }
}

.container-title2{
  font-size: 6em;
  color: $red!important;  

  @media #{$mobile}{
    font-size: 4em;
  }
  @media #{$tablet}{
    font-size: 4em;
    text-align: center;
  }
}

.container-txt{
  font-size: 1.6em;
  padding: 0 0.8em;
  font-family: var(--text-font2);
  line-height: 1.6em;

  @media #{$mobile}{
    font-size: 1.3em;
  }
}

.hidden_txt{
  display: none;

  @media #{$mobile}{
    display: block;
    font-size: 1.3em;
    
  }
}
.not_hidden_txt{
  @media #{$mobile}{
    display: none;
  }
  
}

div{
  @media #{$mobile}{
    text-align: center;
  }
}
.container2-title{
  font-size: 8em;
  -webkit-text-stroke: 1.5px rgb(2, 2, 2);
  -webkit-text-fill-color: transparent;
  // writing-mode: vertical-lr;
  // text-orientation: upright;
  text-align: end;

  @media #{$mobile}{
    font-size: 6em;
    text-align: center;
  }
  @media #{$tablet}{
    font-size: 6em;
    text-align: center;
  }
}

.container2-title2{
  font-size: 7em;
  color:$black!important;
  text-align: end;
  
  @media #{$mobile}{
    font-size: 4em;
    text-align: center;
  }
  @media #{$tablet}{
    font-size: 4em;
    text-align: center;
  }
}
.container-btn {
  position: relative;
  font-size: 1.8em;
  padding: 0.5em 0.8em;
  margin: 1.5em 0!important;
  color: #fbe8ee!important;
  background: $red;
  cursor: pointer;
  outline: none;
}

.container-btn {
    &:before,
    &:after{
      display: block;
      content:"";
      position: absolute;
      background: rgb(251, 255, 0);
      z-index: -1;
    } 
}

.btn-hover {
  &:before {
    top: -0.1rem; bottom: 100%; left: 0; right: 100%;
    transition: bottom .3s 0s, left .5s .3s, right .5s .3s;
    
  }
  &:after {
    top: 100%; bottom: -0.1rem; left: 100%; right: 0;
    transition: top .3s 0s, left .5s .3s, right .5s .3s;
  }
  &:hover {
    &:before {
      top: -0.1rem; bottom: -0.1rem; left: 0; right: -0.1rem;
      transition: left .5s 0s, right .5s 0s, bottom .3s .5s;
    }
    &:after {
      top: -0.1rem; bottom: -0.1rem; left: -0.1rem; right: 0;
      transition: left .5s 0s, right .5s 0s, top .3s .5s;
    }
  }
}

.single-item{
  flex: 0 0 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
//   font-size: 70px;

  &-svg{
    width: 960px;
    height: 540px;
  }
  &-box {
    width: 80%;
    height: 80%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // border-width: 2px;
    // border-style: solid;
    z-index: 80;
  }
  &-container{
    width: 60%;
    height: 100%;
    padding: 1.2em 0.8em;
    display: inline-block;
    text-align: end;


    @media #{$mobile}{
      width: 100%;
      text-align: center;
    }
    @media #{$tablet}{
      width: 100%;
      text-align: center;
    }
  }
  &-bg{
    width: 70em;
    height: auto;
    position: absolute;
    z-index: 20;
    bottom: 0%;
    right: -4%;

    @media #{$tablet}{
      right: 0;
      bottom: 19%;
    }
    @media #{$laptop}{
      bottom: 31%;
      right: -4%;
    }
  }
  &.left {
    justify-content: flex-start;
  }
  
}

.horizontal-scroll-wrapper {
  position: relative;
}

.horizontal-scroll {
  display: flex;
}

.horizontal-scroll .single-item {
  flex: 0 0 100vw;
  p {
    width: 600px;
    height: 600px;
    max-width: 80%;
    max-height: 80%;
  }
}
// header bg
.header{
    width: 100%;
    height: 100vh;
    // background: url(../../images/evo_blur.jpg) no-repeat;
    // background-size: cover;
    position: relative;

    &_logo{
      position: fixed;
      top: 3%;
      left: 5%;
      z-index: 101;

      &_img{
        width: 10em;
      }
    }

    &_scroll{
      position: fixed;
      bottom: 3%;
      left: 5%;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-txt{
        color: #84878E;
        font-size: 0.9em;
        writing-mode: vertical-rl;
      }
      &-line{
        background: $red;
        width: 5px;
        height: 35px;
        border-radius: 5.5px;
        margin-top: 9px;
      }
    }

    &_social{
      position: fixed;
      bottom: 3%;
      right: 5%;
      z-index: 100;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    &_menu{
      width: 100%;
      position: absolute;
      top: 0%;
      right: 0%;
      z-index: 100;

      
    }
    &_center{
      position: absolute;
      left: 0%;
      width: auto;
      z-index: 20;

      &-txt{
        position: absolute;
        top: 80%;
        left: 40%;
        font-size: 1.2em;

        
        @media #{$mobile}{
          top: 60%;
          left: 22%;
        }
        @media (min-width: 580px) and (max-width: 610px){
          left: 32%;
          font-size: 1.4em;
        }
        @media #{$tablet}{
          left: 34%;
          font-size: 1.6em;
        }
        @media #{$laptop}{
          left: 35%;
          font-size: 1.88em;
        }
      }
    }
}



// hamburger menu
$white: #ffffff;
$menubg: #84878E;
$ovarlay: #000000;

body {
    
    &.active {
        &:before {
            opacity: 1;
        }
    }

    &:before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        background: rgba($ovarlay, .40);
        -webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90);
        -moz-transition: all 1s cubic-bezier(.10, .10, .25, .90);
    }
}

body, html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

* {
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    outline: none;
    list-style: none;
}

@mixin all-transition {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.hamburger-menu {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    // border: solid $white .15rem;
    position: fixed;
    top: 2rem;
    right: 4rem;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    cursor: pointer;
    z-index: 100;

    @media #{$mobile}{
      top: 1.3rem;
      right: 2rem;
    }
    &.active {
        @include all-transition;
        opacity: .5;

        span {
            &:first-child {
                top: 1rem;
                position: absolute;
                -moz-transform: rotate(-50deg);
                -webkit-transform: rotate(-50deg);
                -o-transform: rotate(-50deg);
                -ms-transform: rotate(-50deg);
                transform: rotate(-50deg);
            }

            &:last-child {
                top: 1rem;
                position: absolute;
                -moz-transform: rotate(230deg);
                -webkit-transform: rotate(230deg);
                -o-transform: rotate(230deg);
                -ms-transform: rotate(230deg);
                transform: rotate(230deg);
                -webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90);
                -moz-transition: all 1s cubic-bezier(.10, .10, .25, .90);
            }
        }
    }

    span {
        @include all-transition;
        width: 2.5rem;
        height: .2rem;
        background: $white;
        -webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90);
        -moz-transition: all 1s cubic-bezier(.10, .10, .25, .90);
        margin: .4rem 0;
    }
}

.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    transform: matrix(1.00,0.00,0.00,1.00,0,-320);
    -ms-transform: matrix(1.00,0.00,0.00,1.00,0,-320);
    -webkit-transform: matrix(1.00,0.00,0.00,1.00,0,-320);
    -webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90);
    -moz-transition: all 1s cubic-bezier(.10, .10, .25, .90);
    justify-content: center;
    align-content: center;
    align-items: center;

    @media (max-width:768px){
      transform: matrix(1.00,0.00,0.00,1.00,0,-600);
      -ms-transform: matrix(1.00,0.00,0.00,1.00,0,-600);
      -webkit-transform: matrix(1.00,0.00,0.00,1.00,0,-600);      
    }
    ul {
        flex: auto;
        justify-content: center;
        align-content: center;
        align-items: center;
        overflow: hidden;

        @media (max-width:768px){
          flex-direction: column;
        }

        li {
            transform: matrix(1.00,0.00,0.00,1.00,0,40);
            -ms-transform: matrix(1.00,0.00,0.00,1.00,0,40);
            -webkit-transform: matrix(1.00,0.00,0.00,1.00,0,40);
            -webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90);
            -moz-transition: all 1s cubic-bezier(.10, .10, .25, .90);

           
            a {
                font-size: 2rem;
                line-height: 5rem;
                color: $white!important;
                padding: 0 4rem;
                @include all-transition;

                &:hover {
                    opacity: .5;
                }
            }
        }
    }

    &.active {
        transform: matrix(1.00,0.00,0.00,1.00,0,0);
        -ms-transform: matrix(1.00,0.00,0.00,1.00,0,0);
        -webkit-transform: matrix(1.00,0.00,0.00,1.00,0,0);
        background: #0a0a0a;

        ul {

            li {
                animation: fadeIn 1s ease-in both;

                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        animation-delay: $i * .5s;
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: matrix(1.00,0.00,0.00,1.00,0,40);
        -ms-transform: matrix(1.00,0.00,0.00,1.00,0,40);
        -webkit-transform: matrix(1.00,0.00,0.00,1.00,0,40);
    }

    to {
        opacity: 1;
        transform: matrix(1.00,0.00,0.00,1.00,0,0);
        -ms-transform: matrix(1.00,0.00,0.00,1.00,0,0);
        -webkit-transform: matrix(1.00,0.00,0.00,1.00,0,0);
    }
}

.horizontal-scroll{
  &-img{
  width: 100%;
  height: 100%;
  }
  &-text{
    display: flex;
  }
  
  &-txt1{
    font-size: 25em;
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: transparent;
    writing-mode: vertical-rl;
    text-orientation: inherit;
    margin-top: 55px;
    transform: rotate(180deg);
    text-align: end;

    @media #{$mobile}{
      font-size: 15em;
    }
  }

  &-txt2{
    font-size: 15em;
    font-weight: bolder;
    color: $red!important;
    writing-mode: vertical-rl;
    text-orientation: inherit;
    margin-top: 55px;
    transform: rotate(180deg);
    text-align: end;
    line-height: 0;

    @media #{$mobile}{
      font-size: 10em;
    }
  }

  &-txt3{
    font-size: 17em;
    -webkit-text-stroke: 1.5px white;
    -webkit-text-fill-color: transparent;
    writing-mode: vertical-rl;
    text-orientation: inherit;
    margin-top: 55px;
    transform: rotate(180deg);
    text-align: end;

    @media #{$mobile}{
      font-size: 15em;
    }
  }

  &-txt4{
    font-size: 10em;
    font-weight: bolder;
    color: $red!important;
    writing-mode: vertical-rl;
    text-orientation: inherit;
    margin-top: 55px;
    transform: rotate(180deg);
    text-align: end;
    line-height: 0;

    @media #{$mobile}{
      font-size: 10em;
    }
  }
}

.moreinfoylw{
  color: $red !important;
  font-weight: bold;
}

.moreinfoblck{
  color: $red !important;
  font-weight: bold;
}