.webdev{
width: 100vw;
height: 100vh;
margin: 0;
padding: 0;

::selection{
  background: #ff9d00;
}

&_leftside{
    width: 100%;
    height: auto;
    
&-top{
  width: 100%;
  height: 50vh;
  background-color: rgb(135, 222, 135);
}

&-btm{
  width: 100%;
  height: 50vh;
  background-color: rgb(222, 135, 218);
}
  }

 
  &_rightside{
    width: 100%;
    height: auto;   

&-top{
  width: 100%;
  height: 50vh;
  background-color: rgb(215, 224, 81);
   }

&-btm{
  width: 100%;
  height: 50vh;
  background-color: rgb(88, 160, 219);
   }

  }

  .col-lg-6{
    padding-right: 0px;
    padding-left: 0px;
  }
}