* {
  margin: 0;
  list-style: none;
}

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Bold/Roboto-Bold.woff");
}

#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 200;
}

.contpre {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 34%;
  top: 48%;
  /* margin-left: -125px; */
  /* margin-top: -75px; */
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 200px;
  height: 200px;
  background-size: 200px;
  margin: -16px 0 0 -16px;
}

/* preloader */

/* .preloader-2 {
margin: 120px auto 0;
} */

div {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.preloader-2 .line {
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 1px;
  display: inline-block;
  animation: opacity-2 1000ms infinite ease-in-out;
}

.header_social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sm-txt {
  position: relative;
  display: block;
  cursor: pointer;
}

.sm-txt:before,
.sm-txt:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.sm-txt:before {
  left: -2.5px;
}

.sm-txt:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.sm-txt:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.sm-txt:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.preloader-1 .line-1,
.preloader-2 .line-1 {
  animation-delay: 800ms;
}

.preloader-1 .line-2,
.preloader-2 .line-2 {
  animation-delay: 600ms;
}

.preloader-1 .line-3,
.preloader-2 .line-3 {
  animation-delay: 400ms;
}

.preloader-1 .line-4,
.preloader-2 .line-4 {
  animation-delay: 200ms;
}

.preloader-1 .line-6,
.preloader-2 .line-6 {
  animation-delay: 200ms;
}

.preloader-1 .line-7,
.preloader-2 .line-7 {
  animation-delay: 400ms;
}

.preloader-1 .line-8,
.preloader-2 .line-8 {
  animation-delay: 600ms;
}

.preloader-1 .line-9,
.preloader-2 .line-9 {
  animation-delay: 800ms;
}

@keyframes opacity-1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity-2 {
  0% {
    opacity: 1;
    height: 15px;
  }

  50% {
    opacity: 0;
    height: 12px;
  }

  100% {
    opacity: 1;
    height: 15px;
  }
}

#lottie {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  text-align: center;
  opacity: 1;
}

:root {
  --scrollbar-size: 0px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body *:not(.change_color_page) {
  color: #fff0d9;
  transition: color 0.5s ease-in-out, border-color 0.5s ease;
}

body.white *:not(.change_color_page) {
  color: #1B1B1B;
  transition: color 0.5s ease-in-out, border-color 0.5s ease;
}

.change_color_page {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1B1B1B;
  transition: background-color 0.5s ease;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.change_color_page.white {
  background-color: #ff9d00;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  background-color: #ff9d00;
}

.header.white {
  background-color: #1B1B1B;
}

.scrollbar-test {
  position: absolute;
  visibility: hidden;
  overflow: scroll;
  width: 100px;
  height: 100px;
  top: -99999px;
  left: -99999px;
  pointer-events: none;
  user-select: none;
}

.fixed-content {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: var(--scrollbar-size, 0px);
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}

.scroll-container {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 100%;
}

.content {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.spacer {
  background: transparent;
}

.relative {
  position: relative;
}

.text_align_left {
  text-align: left;
}

.container-title {
  font-size: 10em;
  -webkit-text-stroke: 1.5px white;
  -webkit-text-fill-color: transparent;
  text-align: right;
}

.container-title2 {
  font-size: 6em;
  color: #FF7A01 !important;
  text-align: right;
}

.container-txt {
  font-size: 1.6em;
  padding: 0 0.8em;
  font-family: var(--text-font2);
  line-height: 1.6em;
}

.hidden_txt {
  display: none;
}

.container2-title {
  font-size: 8em;
  -webkit-text-stroke: 1.5px #020202;
  -webkit-text-fill-color: transparent;
}

.container2-title2 {
  font-size: 7em;
  color: #1B1B1B !important;
}

.container-btn {
  position: relative;
  font-size: 1.8em;
  padding: 0.5em 0.8em;
  margin: 1.5em 0 !important;
  color: #fbe8ee !important;
  background: #FF7A01;
  cursor: pointer;
  outline: none;
}

.container-btn:before,
.container-btn:after {
  display: block;
  content: "";
  position: absolute;
  background: #fbff00;
  z-index: -1;
}

.btn_align_left {
  display: flex;
  align-items: flex-start;
}

.btn-hover:before {
  top: -0.1rem;
  bottom: 100%;
  left: 0;
  right: 100%;
  transition: bottom .3s 0s, left .5s .3s, right .5s .3s;
}

.btn-hover:after {
  top: 100%;
  bottom: -0.1rem;
  left: 100%;
  right: 0;
  transition: top .3s 0s, left .5s .3s, right .5s .3s;
}

.btn-hover:hover:before {
  top: -0.1rem;
  bottom: -0.1rem;
  left: 0;
  right: -0.1rem;
  transition: left .5s 0s, right .5s 0s, bottom .3s .5s;
}

.btn-hover:hover:after {
  top: -0.1rem;
  bottom: -0.1rem;
  left: -0.1rem;
  right: 0;
  transition: left .5s 0s, right .5s 0s, top .3s .5s;
}

.padding {
  padding: 2em 6em;
}

.single-item {
  flex: 0 0 100vw;
  height: 100vh;
}

.single-item-svg {
  width: 960px;
  height: 540px;
}

.single-item-box {
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 80;
  padding: 2em 2em 2em 2em;
}

.single-item-container {
  height: 100%;
  padding: 1.2em 0.8em;
  display: inline-block;
  text-align: end;
}

.single-item-bg {
  width: 55em;
  height: auto;
}

.single-item.left {
  justify-content: flex-start;
}

.single-item-dmimg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-item-right {
  width: 40em;
  height: auto;
}

.single-item-right2 {
  width: 55em;
  height: auto;
}

.single-item-right3 {
  width: 66em;
  height: auto;
  position: absolute;
  z-index: 20;
  bottom: 12%;
  right: -20%;
}

.single-item-right4 {
  width: 55em;
  height: auto;
}

.single-item-first {
  width: 60em;
  height: auto;
}

.horizontal-scroll-wrapper {
  position: relative;
}

.horizontal-scroll {
  display: flex;
}

.horizontal-scroll .single-item {
  flex: 0 0 100vw;
}

.horizontal-scroll .single-item p {
  width: 600px;
  height: 600px;
  max-width: 80%;
  max-height: 80%;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.header_logo {
  position: fixed;
  top: 3%;
  left: 5%;
  z-index: 101;
}

.header_logo_img {
  width: 10em;
}

.header_scroll {
  position: fixed;
  bottom: 3%;
  left: 5%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_scroll-txt {
  color: #84878E;
  font-size: 0.9em;
  writing-mode: vertical-rl;
}

.header_scroll-line {
  background: #FF7A01;
  width: 5px;
  height: 35px;
  border-radius: 5.5px;
  margin-top: 9px;
}

.header_social {
  position: fixed;
  bottom: 3%;
  right: 5%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_menu {
  width: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 100;
}

.header_center {
  position: absolute;
  left: 0%;
  width: auto;
  z-index: 20;
}

.header_center-txt {
  position: absolute;
  top: 80%;
  left: 40%;
  font-size: 1.2em;
}

body.active:before {
  opacity: 1;
}

body:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

body,
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

* {
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  outline: none;
  list-style: none;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.hamburger-menu {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  position: fixed;
  top: 2rem;
  right: 4rem;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

.hamburger-menu.active {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: .5;
}

.hamburger-menu.active span:first-child {
  top: 1rem;
  position: absolute;
  -moz-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.hamburger-menu.active span:last-child {
  top: 1rem;
  position: absolute;
  -moz-transform: rotate(230deg);
  -webkit-transform: rotate(230deg);
  -o-transform: rotate(230deg);
  -ms-transform: rotate(230deg);
  transform: rotate(230deg);
  -webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

.hamburger-menu span {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 2.5rem;
  height: .2rem;
  background: #ffffff;
  -webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  margin: .4rem 0;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  transform: matrix(1, 0, 0, 1, 0, -320);
  -ms-transform: matrix(1, 0, 0, 1, 0, -320);
  -webkit-transform: matrix(1, 0, 0, 1, 0, -320);
  -webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  justify-content: center;
  align-content: center;
  align-items: center;
}

.menu ul {
  flex: auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

.menu ul li {
  transform: matrix(1, 0, 0, 1, 0, 40);
  -ms-transform: matrix(1, 0, 0, 1, 0, 40);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 40);
  -webkit-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -moz-transition: all 1s cubic-bezier(0.1, 0.1, 0.25, 0.9);
}

.menu ul li a {
  font-size: 2rem;
  line-height: 5rem;
  color: #ffffff !important;
  padding: 0 4rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu ul li a:hover {
  opacity: .5;
}

.menu.active {
  transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  background: #0a0a0a;
}

.menu.active ul li {
  animation: fadeIn 1s ease-in both;
}

.menu.active ul li:nth-child(1) {
  animation-delay: 0.5s;
}

.menu.active ul li:nth-child(2) {
  animation-delay: 1s;
}

.menu.active ul li:nth-child(3) {
  animation-delay: 1.5s;
}

.menu.active ul li:nth-child(4) {
  animation-delay: 2s;
}

.menu.active ul li:nth-child(5) {
  animation-delay: 2.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 40);
    -ms-transform: matrix(1, 0, 0, 1, 0, 40);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 40);
  }

  to {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.horizontal-scroll-img {
  width: 100%;
  height: 100%;
}

.horizontal-scroll-text {
  display: flex;
  position: absolute;
}

.horizontal-scroll-txt1 {
  font-size: 25em;
  -webkit-text-stroke: 1.5px white;
  -webkit-text-fill-color: transparent;
  writing-mode: vertical-rl;
  text-orientation: inherit;
  margin-top: 55px;
  transform: rotate(180deg);
  text-align: end;
}

.horizontal-scroll-txt2 {
  font-size: 15em;
  font-weight: bolder;
  color: #FF7A01 !important;
  writing-mode: vertical-rl;
  text-orientation: inherit;
  margin-top: 55px;
  transform: rotate(180deg);
  text-align: end;
  line-height: 0;
}

.horizontal-scroll-txt3 {
  font-size: 17em;
  -webkit-text-stroke: 1.5px white;
  -webkit-text-fill-color: transparent;
  writing-mode: vertical-rl;
  text-orientation: inherit;
  margin-top: 55px;
  transform: rotate(180deg);
  text-align: end;
}

.horizontal-scroll-txt4 {
  font-size: 10em;
  font-weight: bolder;
  color: #FF7A01 !important;
  writing-mode: vertical-rl;
  text-orientation: inherit;
  margin-top: 55px;
  transform: rotate(180deg);
  text-align: end;
  line-height: 0;
}

.moreinfoylw {
  color: #FF7A01 !important;
  font-weight: bold;
}

.moreinfoblck {
  color: #FF7A01 !important;
  font-weight: bold;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

svg {
  padding: 5vw;
  width: 90vw;
  height: 90vh;
}

svg > * {
  fill: #1C1C1C;
  stroke: #1C1C1C;
  stroke-width: 0.85px;
}

.aboutus_main {
  width: 100%;
  height: auto;
  background-color: black;
  padding: 6em 2em;
}

.aboutus_main ::selection {
  background: #ff9d00;
}

.main-title-aboutus {
  text-align: center;
  font-size: 8em;
  font-family: var(--text-font2);
  padding-top: .1em;
}

.paragraph-company {
  margin-top: 3em;
  padding-left: 0.5em;
}

.aboutus-paragraph {
  padding-top: 2.5em;
  font-size: 1.59em;
  padding-left: 1em;
  text-transform: none;
  line-height: 1.5em;
}

.single-item-bg2 {
  width: 70em;
  height: auto;
  position: absolute;
  z-index: 20;
  bottom: 18%;
  right: -2%;
}

.webdev {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.webdev ::selection {
  background: #ff9d00;
}

.webdev_leftside {
  width: 100%;
  height: auto;
}

.webdev_leftside-top {
  width: 100%;
  height: 50vh;
  background-color: #87de87;
}

.webdev_leftside-btm {
  width: 100%;
  height: 50vh;
  background-color: #de87da;
}

.webdev_rightside {
  width: 100%;
  height: auto;
}

.webdev_rightside-top {
  width: 100%;
  height: 50vh;
  background-color: #d7e051;
}

.webdev_rightside-btm {
  width: 100%;
  height: 50vh;
  background-color: #58a0db;
}

.webdev .col-lg-6 {
  padding-right: 0px;
  padding-left: 0px;
}

@media (max-width: 768px) {
  .menu {
    transform: matrix(1, 0, 0, 1, 0, -600);
    -ms-transform: matrix(1, 0, 0, 1, 0, -600);
    -webkit-transform: matrix(1, 0, 0, 1, 0, -600);
  }

  .menu ul {
    flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .contpre {
    width: 200px;
    height: 200px;
    left: 26.2%;
  }

  .container-title {
    font-size: 6em;
    text-align: center;
  }

  .container-title2 {
    font-size: 4em;
    text-align: center;
  }

  .container2-title {
    font-size: 6em;
    text-align: center;
  }

  .container2-title2 {
    font-size: 4em;
    text-align: center;
  }

  .single-item-container {
    width: 100%;
    text-align: center;
  }

  .header_center-txt {
    left: 34%;
    font-size: 1.6em;
  }
}

@media (min-width: 360px) and (max-width: 599px) {
  .contpre {
    width: 200px;
    height: 200px;
    left: 4.4%;
  }

  #p_prldr .svg_anm {
    width: 200px;
    height: 200px;
  }

  .container-title {
    font-size: 6em;
  }

  .container-title2 {
    font-size: 4em;
  }

  .container-txt {
    font-size: 1.3em;
  }

  .hidden_txt {
    display: block;
    font-size: 1.3em;
  }

  .not_hidden_txt {
    display: none;
  }

  div {
    text-align: center;
  }

  .container2-title {
    font-size: 6em;
    text-align: center;
  }

  .container2-title2 {
    font-size: 4em;
    text-align: center;
  }

  .single-item-container {
    width: 100%;
    text-align: center;
  }

  .header_center-txt {
    top: 60%;
    left: 22%;
  }

  .hamburger-menu {
    top: 1.3rem;
    right: 2rem;
  }

  .horizontal-scroll-txt1 {
    font-size: 15em;
  }

  .horizontal-scroll-txt2 {
    font-size: 10em;
  }

  .horizontal-scroll-txt3 {
    font-size: 15em;
  }

  .horizontal-scroll-txt4 {
    font-size: 10em;
  }
}

@media (min-width: 580px) and (max-width: 610px) {
  .header_center-txt {
    left: 32%;
    font-size: 1.4em;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header_center-txt {
    left: 35%;
    font-size: 1.88em;
  }
}